section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.datetime {
    color: #fff;
    background: #111163;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #fe0404;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
    transition: 0.5s;
    transition-property: background, box-shadow, color;

}

.datetime:hover {
    background: #d45c5c;
    box-shadow: 0 0 30px #ea7878;
    color: black;
    border: 3px solid #2600ff;
}

.date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child {
    background: #fe0404;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

.time span:last-child:hover {
    background: #2600ff;
}